{% extends "base.html.twig" %}

{% block title %}Liste des articles{% endblock title %}

{% block headerImage %}
    <header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
{% endblock  %}

{% block headerContent %}
<div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
                <h1>Les articles</h1>
                <span class="subheading"></span>
            </div>
        </div>
    </div>
</div>
</header>
{% endblock %}

{% block main %}
    <div class="float-end me-4">
        <a class="btn btn-success" href="/blog/new">Ajouter un nouveau post</a>
    </div>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for post in posts %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/blog/view?id={{ post.id }}">
                            <h2 class="post-title">{{ post.title }}</h2>
                        </a>
                        <p class="post-meta">
                            {{ post.content|length|raw > 50 ? post.content|striptags|slice(0, 50) ~ '...' : post.content|raw  }}
                        </p>
                    </div>
                    <div class="post-actions">
                        <a class="btn btn-success" href="/blog/edit?id={{ post.id }}">Editer</a>
                        <a class="btn btn-danger" href="/blog/delete?id={{ post.id }}" onclick="return confirm('Are you sure you want to delete this post ?')">Supprimer</a>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                {% endfor %}
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
            </div>
        </div>
    </div>
{% endblock %}