{% extends "base.html.twig" %}

{% block title %}Liste des articles{% endblock title %}

{% block headerImage %}
    <header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
{% endblock  %}

{% block headerContent %}
<div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
                <h1>{{ post.title }}</h1>
                <span class="subheading"></span>
            </div>
        </div>
    </div>
</div>
</header>
{% endblock %}

{% block main %}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ post.content|raw }}
                </p>
            </div>
            <p>
                Auteur : {{ post.getAuthor().getFullName() }} <br>
                Date de dernière modification :
                {{ post.getUpdatedAt() }}
            </p>
        </div>
        <h3 class="text-center">Comments</h3>
        {% if comments|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Auteur</th>
                <th scope="col">Commantaire</th>
                </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.getAuthor().getFullName() }}</td>
                    <td>{{ comment.content }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Aucun commentaire pour le moment</p>
        {% endif %}
        {% if user %}
            <form action="/blog/comment/add?id={{ post.id }}" method="post">
                <h4>Ajouter un commentaire</h4>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Commentaire</label>
                    <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                <input type="hidden" name="author" value="{{ user }}">
                <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
            </form>
        {% endif %}
    </div>
</article>
{% endblock %}